{% extends 'base.html' %}

{% block content %}
<h2>My Drive</h2>
<div>
    <form action="/folders/create/" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="New Folder Name">
        <input type="hidden" name="parent" value="{{ parent_folder.id }}">
        <button type="submit">Create Folder</button>
    </form>
</div>
<div>
    <h3>Folders</h3>
    <ul>
        {% for folder in folders %}
        <li>
            <a href="{% url 'list_folders_and_files' folder.id %}">{{ folder.folder_name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div>
    <h3>Files</h3>
    <ul>
        {% for file in files %}
        <li>{{ file.file_name }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}